{% extends 'base.html' %}

{% block content %}

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet">
    <title>Calendário</title>
    <!-- FullCalendar CSS -->
    
   
</head>
<body>
    <h2 style="text-align: center;">Calendário de Agendamentos</h2>
    <div id="calendar" ></div>

    <!-- FullCalendar JS -->
    <script src="/static/js/index.global.min.js"></script>
    <script src="/static/js/core/locales-all.global.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
    
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'pt-br', // Configurar idioma para português
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                events: '/api/calendar/', // URL da API que retorna os eventos
                eventClick: function(info) {
                    // Exibe informações adicionais ao clicar em um evento
                    var eventObj = info.event;
    
                    // Exibir a descrição em um alert ou modal
                    alert(
                        'Técnico: ' + eventObj.title + '\n' +
                        'Descrição: ' + eventObj.extendedProps.description + '\n' +
                        'Cliente: ' + eventObj.extendedProps.cliente
                    );
                }
            });
    
            calendar.render();
        });
    </script>
   <!-- <script >
        document.addEventListener('DOMContentLoaded', function () {
            
            var calendarEl = document.getElementById('calendar');
            

            // Configuração do FullCalendar
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'pt-br', // Configurar idioma para português
                
                headerToolbar: {
                    locale: 'pt-br',
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                events: '/api/calendar/', // URL da API que retorna os eventos
                eventClick: function(info) {
                    // Exibe informações adicionais ao clicar em um evento
                    alert('Evento: ' + info.event.title);
                }
            });

            calendar.render();
        });
    </script>
-->
</body>

{% endblock %}