

{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-7">Cadastrar Agendamento</h3>

    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Salvar Agendamento</button>
            </form>
        </div>
    </div>

    <div class="container mt-4">
        <a href="{% url 'workingdays_list' %}">
            <button class="btn btn-warning btn-sm">Voltar</button>
        </a>
    </div>
</div>

{% endblock %}
