{% extends 'base.html' %}

{% block content %}
<div class="conteiner mt-4">
    <h3 class="display-7">Deletar Tecnico</h3>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja excluir o Tecnico</p>
            <form method="post" class="form">

                {% csrf_token %}
                <div class="card">
                    <div class="card-body"></div>
                     <h6>Codigo: {{object.id}}</h6>
                    <h4>{{object.name}}</h4>
                    
                </div>
                
                <button type="submit" class="btn btn-danger mt-3">Deletar</button>

            </form>
            <a href="{% url 'tecnicos_list' %}" class="btn btn-secondary mt-3" >Cancelar e retornar</a>
        </div>

    </div>
    
</div>

{% endblock %}